@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 19, 19);
}
  
.main-content {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content .text1, .main-content .text2 {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.main-content .text1 {
    width: 40vw;
}
  
.main-content .text2 {
    width: 60vw;
}
  
.main-content .text1 span:nth-child(1) {
    animation-delay: 0;
}
.main-content .text1 span:nth-child(2) {
    animation-delay: 0.1s;
}
.main-content .text1 span:nth-child(3) {
    animation-delay: 0.2s;
}
.main-content .text1 span:nth-child(4) {
    animation-delay: 0.3s;
}
.main-content .text1 span:nth-child(5) {
    animation-delay: 0.4s;
}
.main-content .text1 span:nth-child(6) {
    animation-delay: 0.5s;
}
.main-content .text1 span:nth-child(7) {
    animation-delay: 0.6s;
}
.main-content .text1 span:nth-child(8) {
    animation-delay: 0.7s;
}
.main-content .text1 span:nth-child(9) {
    animation-delay: 0.8s;
}
.main-content .text1 span:nth-child(10) {
    animation-delay: 0.9s;

}

.main-content .text2 span:nth-child(1) {
    animation-delay: 1.3s;
}
.main-content .text2 span:nth-child(2) {
    animation-delay: 1.4s;
}
.main-content .text2 span:nth-child(3) {
    animation-delay: 1.5s;
}
.main-content .text2 span:nth-child(4) {
    animation-delay: 1.6s;
}
.main-content .text2 span:nth-child(5) {
    animation-delay: 1.7s;
}
.main-content .text2 span:nth-child(6) {
    animation-delay: 1.8s;
}
.main-content .text2 span:nth-child(7) {
    animation-delay: 1.9s;
}
.main-content .text2 span:nth-child(8) {
    animation-delay: 2s;
}
.main-content .text2 span:nth-child(9) {
    animation-delay: 2.1s;
}
.main-content .text2 span:nth-child(10) {
    animation-delay: 2.2s;
}
.main-content .text2 span:nth-child(11) {
    animation-delay: 2.3s;
}
.main-content .text2 span:nth-child(12) {
    animation-delay: 2.4s;
}
.main-content .text2 span:nth-child(13) {
    animation-delay: 2.5s;
}
.main-content .text2 span:nth-child(14) {
    animation-delay: 2.6s;
}


.main-content .text1 span, .main-content .text2 span {
    animation: letters 4s linear infinite;
}


@keyframes letters {
    0% {
      color: #6f6f6f;
      text-shadow: none;
    }
    15% {
      color: #f2f2f2;
    }
    35% {
      text-shadow: 0 0 10px #bd3ec946;
    }
    60% {
      color: #bd3ec9;
    }
    80% {
      color: #a83ec946;
      text-shadow: none;
    }
    100% {
      color: transparent;
    }
}