* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(36, 35, 35);
  }
  
  .content {
    position: relative;
  }
  .content h2 {
    position: absolute;
    color: rgb(250,250,250);
    transform: translate(-50%, -50%);
    font-size: 8em;
  }
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px rgb(107, 193, 233);
  }
  .content h2:nth-child(2) {
    color: rgb(107, 193, 233);
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%, 100% {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
      clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }